{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="{{ url_for('repass') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="old" placeholder="Old Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new1" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new2" placeholder="Confirm New Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
