<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.Spreadsheet" version="2.70.1553" targetFramework="net45" />
  <package id="ExtentReports" version="2.41.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net45" />
  <package id="WebDriver.GeckoDriver" version="0.16.1" targetFramework="net45" />
</packages>